body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

#container{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2%;
    row-gap: 20px;
    grid-template-areas: 
    "header header header header"
    "boxes boxes boxes boxes"
    "content content content sidebar"
    "footer footer footer footer";
}

.boxes{
    grid-area: boxes;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2%;
    row-gap: 20px;
    grid-template-areas: 
    "box1 box2 box2 box2 box2 box3";
}

header{
    grid-area: header;
}
main{
    grid-area: content;
}
aside{
    grid-area: sidebar;
}
footer{
    grid-area: footer;
}
.box-1{
    grid-area: box1;
}
.box-2{
    grid-area: box2;
}
.box-3{
    grid-area: box3;
}

header,
main,
aside,
footer,
[class*="box-"],
[class*="section-"]{
    border: 1px solid #333;
    min-height: 100px;
}

footer{
    padding: 5px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2%;
    row-gap: 20px;
    display: grid;
}

/* Mindre desktopskärmar */
@media screen and (max-width: 1200px){
    #container{
        width: 90%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2%;
        row-gap: 20px;
        grid-template-areas: 
        "header header header"
        "boxes boxes boxes"
        "content content sidebar"
        "footer footer footer";
    }
    .boxes{
        grid-area: boxes;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2%;
        row-gap: 20px;
        grid-template-areas: 
        "box1 box2 box2 box3";
    }

}

/* Tablets såsom Ipad */
@media screen and (max-width: 960px){
    #container{
        width: 90%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2%;
        row-gap: 20px;
        grid-template-areas: 
        "header header"
        "boxes boxes"
        "content sidebar"
        "footer footer";
    }
    .boxes{
        grid-area: boxes;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2%;
        row-gap: 20px;
        grid-template-areas: 
        "box1 box2 box3";
    }
    footer{
        padding: 5px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2%;
        row-gap: 20px;
        display: grid;
    }
}

/* Mobiltelefoner */
@media screen and (max-width: 768px){
    #container{
        width: 90%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2%;
        row-gap: 20px;
        grid-template-areas: 
        "header"
        "boxes"
        "content"
        "sidebar"
        "footer";
    }
    .boxes{
        grid-area: boxes;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2%;
        row-gap: 20px;
        grid-template-areas: 
        "box1"
        "box2"
        "box3";
    }
    footer{
        padding: 5px;
        grid-template-columns: 1fr;
        column-gap: 2%;
        row-gap: 20px;
        display: grid;
    }
}


header,
main,
aside{
    background-color: beige;
    display: flex;
    padding: 5px;
    column-gap: 2%;
    row-gap: 20px;
}
.boxes,
main,
aside,
footer{
    min-height: 200px;
}
header{
    align-items: center;
}
.button1{
    margin-left: 15px;
}
.button4{
    margin-left: auto;
    margin-right: 15px;
}
main{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
[class*="content-"]{
    border: 1px solid #333;
    flex: 30%; /*aici am ramas blocat*/
}
aside{
    flex-direction: column;
    row-gap: 5px;
}
.asidebutton1{
    margin-top: 10px;
}
[class*="asidebutton"]{
    margin-left: 10px;
    margin-right: 10px;
    
}
